Binaries
DerivedDataCache
Saved
*.opensdf
*.sdf
*.v12.suo
Intermediate
SweetDreams.sln
SweetDreams.uproject
/SweetDreams.uproject
/SweetDreams.sln
Content/Maps/
*.umap
.idea
.vs
CMakeLists.txt
*VC.db
*VC.opendb
.localhistory/
*.xcworkspace
Build
*.DS_Store
